[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Aa]ssets/**/*.meta
[Aa]ssets/**/Thumbs.db
[Aa]ssets/**/*.csproj
[Aa]ssets/**/*.unityproj
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.pidb.meta
*.unityproj.meta
*.sln.meta
*.suo.meta
*.tmp.meta
*.user.meta
*.userprefs.meta
*.pidb.meta
*.booproj.meta
*.svd.meta
*.pdb.meta
*.opendb.meta
*.VC.db.meta

